<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Test Sign Up">
        <classes>
            <class name="TestExercise1"/>
        </classes>
    </test>
    <test name="Test Contact Us">
        <classes>
            <class name="TestExercise2"/>
        </classes>
    </test>


</suite>
